* { box-sizing: border-box;}  

body {
  font-size: 16px;
  font-family: karma, sans-serif;
}

header {
    display: flex;
    align-items:flex-start;
    background-color: #8fbc94;
    font-family: 'Fredoka One';
}
header h1 {
    color: #548684;
    padding-top: 1px;
}
header img {
    margin-right: 10px;
    width: 100px;
    height: auto;
    padding: 10px;
}
header .subheading {
    color: #fee119;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 10px;
}

nav {
    max-width: 70%;
    margin: auto;
    padding: 5px;
    font-weight: bold;
}
nav ul {
    display: flex;
    flex-direction:column;
    clear: both;
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    overflow: hidden;
    background-color: #cccccc;
}
nav ul li {
    border-bottom: 1px solid #666666;
    text-align: center;
}
nav ul li a {
    display:block;
    color:#56445d;
    padding: 8px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #c5e99b;
    color: #56445d;
}

.active {
    background-color: #93cecf;
    color: #56445d;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-width: 10px;
    font-weight: bolder;
}
main h2 {
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    color: #3d5467;
}
.articleimg {
    width: 100%;
}
.articlep {
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
}
.townimg {
    width: 100%;
}
.townp {
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
}
section {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-style: solid;
    }

footer {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 3px;
    background-color: #548684;
    font-weight: bold;
}
footer aside {
    padding: 8px;
    background-color: #8fbc94;
}
.gallery {
    max-width:500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .35rem;
    margin: 20px;
}
.galleryimg {
    
}
figcaption {
    
}
#stormtitle{
    text-align: left;
    max-width: 500px;
    margin: auto
}
#stormform {

    margin: auto;
    background: 500px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    grid-gap: 2rem;
}
#stormtitle {
    font-size: 22px;
}
.top {
    border-radius: 25px;
    border: 2px solid #524a4a; 
    padding-left: 5em;
    padding-right: 5em;
    padding-top: .5em;
    padding-bottom: .5.em;
    background-color: #ffefd5;
}
.bottom {
    border-radius: 25px;
    border: 2px solid #524a4a; 
    padding-left: 5em;
    padding-right: 5em;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: #ffefd5;
    margin-bottom: 3em;
}
.radio {
    margin-left: 1em;
}
.tybutton {
    margin-top: 1em;
    margin-left: 11.45em;
}
#reporttitle {
    text-align: center;
}
label {
    display: block;
    padding: 10px;
}

section.threetowns {
    display: flex;
    flex-direction: column;
}

