@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

  header, nav, main, footer {
     max-width: 580px;
    margin: auto;
 }

  header img {
    margin-right: 20px;
    width: 100px;
    height: auto;
    }
  nav button { display:none; }  /* hamburger button does not need to be shown */
  
  nav ul {
      width: 100%;
      flex-direction: row;
  }    
    
    section {
    max-width: 580px;
    margin: 0 auto;
    padding 2em;
    border-style: solid;
    }
    
  article p.town-article img { width: 62.666%; }  /* responsive images */


.gallery {
     grid-template-columns: 1fr 1fr;
 }

#stormtitle{
    max-width: 580px;
    margin-top: 3em;
    margin-bottom: 1em;
}
#stormform {
    max-width: 580px;
    border: 20em;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding-left: 8.5em;
    padding-right: 8.5em;
    padding-top: 1em;
    padding-bottom: 2em;
}
.tybutton {
    margin-top: 1em;
    margin-left: 11.45em;
}
legend {
    padding: 1em;   
}

}