@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
li {
    display: inline;
}
    
  article p.town-article img { width: 29.333%; }
  
}
header {
    max-width: 600px;
    margin: 0 auto;
    padding 50px;
    border-width: 20px; 
}
section {
    max-width: 50%;
    margin: auto;
    padding 50px;
    border-width: 20px;
}
main {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
    border-width: 20px;
    
}
main h2 {
    max-width: 50%;
    margin: auto;
    padding 50px;
    border-width: 20px;
    color: brown;
}