nav {
    max-width: 67rem;
    margin:1rem auto;
    background color: aqua;
}

nav ul {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav ul li {
    flex: 1 100%;
    border-bottom: 1px solid grey;
}

nav ul li a {
    display:block;
    color: antiquewhite;
}
nav ul li a:hover {}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .25rem;
    margin: 1rem auto;
    max-width: 64rem;
}

.container > section {
    background: green;
    padding: 1rem;
    border: 1px solid brown;        
}

.container > section:nth-child(5) {
    background: blue;
    
}

@media (min-width: 37.5em)
    nav ul {
      flex-direction: row;
    }
}